* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    direction: rtl;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
}

.container h1 {
    width: 100%;
    margin-bottom: 40px;
}

.main-music {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.main-music img {
    width: 100%;
    border-radius: 10px;
}

.main-music i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 50%;
    color: white;
    opacity: 0;
    transition: 0.3s;
}

.main-music:hover i {
    opacity: 1;
}

/* audio {
    display: none;
} */
